.info_item {
	width: 100%;
	padding: 10px 20px;
	overflow: hidden;
	border-top:solid 1px #E6E6E6;
	border-bottom:solid 1px #E6E6E6;
	margin-bottom: 10px;
	background: white;
}

.info_item span {
	float: left;
	font-size: 14px;
	color: #666666;
	font-family:Microsoft YaHei;
}

.info_item p {
	width: 70%;
	float: right;
	line-height: 18px;
	color: #333;
	font-size: 14px;
	margin: 0;
	text-align: right;
	font-family:Microsoft YaHei;
	position: relative;
}

.info_item p a {
	color: #3B9CFF;
}

.info_item p input {
	height: auto;
	margin: 0;
	border: none;
	padding: 0;
	text-align: right;
	padding-right: 20px;
}

.info_item p span {
	display: inline-block;
	width: 18px;
	height: 9px;
	background: url(../img/edit_down.png) no-repeat center;
	background-size: cover;
	position: absolute;
	right: 0px;
	top: 5px;
}

.change_lists {
	padding: 10px 0px;
}

.change_lists > span {
	margin-left: 20px;
}

.add_list {
	width: 140px;
	height: 24px;
	line-height: 24px;
	background:rgba(59,156,255,1);
	border-radius:5px;
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}

.change_list {
	width: 100%;
	border-top: solid 1px #E6E6E6;
	margin-top: 34px;
}

.change_list ul {
	width: 100%;
	padding: 10px 20px;
	margin: 0;
}

.change_list ul li {
	width: 100%;
	border: solid 1px #E6E6E6;
	border-radius: 5px;
	margin-bottom: 15px;
}

.change_list ul li .li_item {
	width: 100%;
	border-bottom: solid 1px #E6E6E6;
	overflow: hidden;
	padding: 5px;
}

.change_list ul li .li_item span {
	display: inline-block;
	width: 80px;
	float: left;
	color: #333333;
	font-size: 14px;
	text-align: right;
}

.change_list ul li .li_item p {
	width: calc(100% - 80px);
	float: right;
	color: #333333;
	font-size: 14px;
	word-break: break-all;
	text-align: left;
	line-height: 20px;
	margin: 0;
}

.change_list ul li .li_item:last-child {
	border-bottom: none;
}

.see_list {
	width: 100%;
	padding: 10px 20px;
	margin: 0;
}

.see_list ul {
	padding: 0;
	margin: 0;
}

.see_list > li > p {
	color: #3B9CFF;
	margin: 0;
	font-size: 12px;
}

.see_list > li > p i {
	display: inline-block;
	width:13px;
	height:13px;
	background:rgba(59,156,255,1);
	border-radius:50%;
	vertical-align: middle;
	margin-right: 7px;
}

.see_list > li > p span {
	display: inline-block;
	width:110px;
	height:26px;
	line-height: 26px;
	text-align: center;
	background:rgba(59,156,255,1);
	border-radius:5px;
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
}

.see_list .change_list {
	margin-top: 0;
	border: none;
	border-left: solid 2px #DCDCDC;
	overflow: hidden;
	margin-left: 6px;
	padding: 10px;
}

.see_list ul li {
	border: none;
	background:rgba(255,255,255,1);
	box-shadow:0px 2px 7px 0px rgba(157,157,157,0.4);
	border-radius:4px;
	padding: 10px;
}

.see_list ul li .li_item {
	border: none;
	padding: 0;
}

.see_list ul li .li_item span {
	color: #3B9CFF;
}

.add_change {
	width: 100%;
	height: 100%;
	background: white;
	position: fixed;
	top: 0;
	z-index: 99;
	overflow: hidden;
	display: none;
}