.header_box img{
	width: 20px;
	top: 28%;
}

.revene_all {
	padding: 0;
	width: 100%;
	padding-bottom: 50px;
}
.revene_all li {
	border-radius: 0;
}
.revene_all li>p {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

.revene_all li>p img {
	width: 16px;
	vertical-align: middle;
	margin-right: 2px;
	position: relative;
	top: -3px;
}

.revene_all li>p span {
	font-weight: 800;
	font-size: 14px;
	color: #333333;
}

.task_info {
	padding: 10px 20px;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}
.task_info p {
	margin: 0;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 13px;
}

.task_info p span{
	font-weight: 500;
	color: #333333;
}

.task_info p span.reciver {
	margin-left: 25%;
}

.task_status{
	height: 30px;
	line-height: 30px;
	text-align: right;
	padding: 0 20px;
}

.task_status p {
	margin: 0;
	font-size: 12px;
}

.task_status p img {
	width: 8px;
	vertical-align: middle;
	position: relative;
	top: -2px;
}

.status_box {
	padding: 2px 3px;
}
.not_start {
	background:#CCCCCC;
	color: #999999;
}
.status_sure {
	color: #005AFF;
	background: #3B9CFF;
}

.status_end{
	color: #07A33B;
	background: #17DB58;
}

.status_ing{
	color: #FF6000;
	background: #FE9B26;
}

.class_color_blue {
	color: #005AFF;
}
.class_color_org {
	color: #FF6000;
}
.class_color_red {
	color: #FF6060;
}
.class_color_green {
	color: #07A33B;
}

.up_fress {
	top: 0px;
	background: #F2F2F2;
	opacity: 0;
}
.down_fress {
	background: #F2F2F2;
}

#offCanvasSide h5{
	padding-left: 20px;
	height: 44px;
	line-height: 44px;
	margin: 0;
	border-bottom: solid 1px #CCCCCC;
	color: #222222;
}

.search_content {
	padding: 0px 20px;
}

.search_content P {
	color: #222222;
	margin: 0;
	font-size: 12px;
	margin-top: 10px;
}

.search_content P.choose_project {
	width: 100%;
	color:#999999;
	border: solid 1px #CCCCCC;
	margin-top: 10px;
	height: 28px;
	line-height: 26px;
	padding-left: 10px;
	background: #F2F2F2;
}
.search_content P.choose_project a {
	color:#999999;
}
.search_content P.choose_project span {
	width: 28px;
	height: 28px;
	display: inline-block;
	float: right;
	background: url(../img/xiala.png) no-repeat center;
	background-size: 50% 30%;
}
.choose_task_status,.choose_task_class {
	padding: 0px;
	margin-top: 5px;
	overflow: hidden;
}
.choose_task_status span,.choose_task_class span {
	width: 30%;
	height: 24px;
	line-height: 22px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	float: left;
	border: solid 1px #CCCCCC;
	margin-bottom: 10px;
}

.choose_task_status span:last-child,.choose_task_class span:last-child {
	margin-bottom: 0px;
}

.middle_status {
	margin: 0 4%;
}

.choose_task_status span.active,.choose_task_class span.active{
	background: #3B9CFF;
	color: white;
}

.plan_time {
	margin-top: 10px;
	height: 24px;
	line-height: 24px;
}

.plan_time span {
	font-size: 12px;
	display: inline-block;
	width: 40%;
	text-align: center;
	border: solid 1px #CCCCCC;
	background: #F2F2F2;
	color: #333333;
}

.footer_btn {
	height: 48px;
	line-height: 48px;
	position: absolute;
	bottom: 0;
	width: 100%;
	right: 0;
}

.footer_btn span {
	width: 50%;
	display: inline-block;
	text-align: center;
	box-shadow: 5px 0px 5px #E6E6E6;
}
.footer_btn span:last-child {
	background: linear-gradient(-90deg, rgba(23, 129, 251, 1), rgba(59, 156, 255, 1));
	color: white;
}


/* 详情 */

.project_detail {
	width: 100%;
	padding: 10px 20px;
	background: white;
}
.project_detail p {
	margin: 0;
	color: #333333;
	font-size: 12px;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}

.project_detail p span {
	color: #666666;
	margin-right: 5px;
}

.task_details {
	background: #F2F2F2;
}
.task_details h5 {
	margin: 0;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
}

.task_details p {
	background: white;
	padding: 0px 20px;
	height: 48px;
	line-height: 46px;
	border-top: solid 1px #E6E6E6;
	border-bottom: solid 1px #E6E6E6;
	font-size: 0.75rem;
}

.task_details p span {
	display: inline-block;
	width: 30%;
	color: #333333;
}

.task_details p input {
	display: inline-block;
	width: 70%;
	height: 100%;
	border: none;
	text-align: right;
	padding: 0;
	margin: 0;
	float: right;
	font-size: 12px;
	color: #666666;
}

.not_bottom {
	margin-bottom: 0;
	border-bottom: none !important;
}

.file_list {
	width: 100%;
	padding: 0px 20px;
	margin: 0;
	background: white;
}

.file_list li {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-align: right;
	border-bottom: dotted 1px #F2F2F2;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.file_list li a {
	width: 85%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.show_file_list li a {
	width: 100%;
}

.detail_content {
	padding-bottom: 80px;
	margin-bottom: 80px;
}

/* .plan_time {
	width: 100%;
	height: 48px;
	line-height: 48px;
	background: white;
}

.plan_time input {
	width: 80%;
	border: none;
	outline: none;
	padding-left: 5%;
	color: #666666;
}

.plan_time label {
	display: inline-block;
	width: 20%;
	text-align: right;
	padding-right: 5%;
	color: #999999;
}
 */
.inpt_button input {
	display: none !important;
}
.inpt_button label {
	display: inline-block;
	width: 20%;
	text-align: right;
	padding-right: 5%;
	color: #999999;
}

.inpt_button label {
	width: 15%;
	height: 30px;
	line-height: 30px;
	background: #3B9CFF;
	color: white;
	border-radius: 15px;
	text-align: center;
	padding-right: 0px;
	font-size: 14px;
	float: right;
	margin-top: 10px;
}

.file_list_name {
	float: left;
}

.file_list_delete {
	color: #DD524D;
}